
@font-face {
    font-family: Sobear;
    src: url(/src/fonts/Sobear.ttf);
}

.resident   {
    width: 100%;
    max-width: 300px;
    border-radius: 0.8em;
    overflow:hidden ;
    background-color: #062226;
    color:white ;
    transition:transform 100ms ease, box-shadow 100ms ease;
    font-family: Sobear;
}
.resident:hover {
    transform:scale(1.03);
    box-shadow:0 0 2em #0008;
}
.resident_header    {
    position: relative
}
.article_1{
    font-family: Sobear;
    color:white;
    -webkit-text-stroke:black;
    -webkit-text-stroke-width: 1px;
}
.resident_status    {
    position: absolute;
    top: 10%;
    background-color: #092226;
    width: 40%;
    border-radius: 0 0.5em 0.4em 0;
    padding: 0.3em;
    padding-left: 0.7em;   
    display: flex;
    align-items: center;
    gap: 0.6em;                                                                              
}
.resident_status_circle{
    width: 17px;
    aspect-ratio: 1;
    border-radius: 50%;
    background-color: #999;   
}
.Alive{
    background-color: green;
}
.Dead{
    background-color: red;
}
.resident_status_value{
    font-size: 0.9rem;
    font-weight: 300;
}
.resident_body{
    padding: 1.5em 1em 2em;

}
.resident_name{
    font-size: 1rem;
    font-weight: 700;
    text-align: center;
    margin-bottom: 0.5em;
}
.resident_hr{
    margin-bottom: 1em;
    border-color: #fff3;
}
.resident_list{
    display: grid;
    gap: 0.8em;
}
.resident_item{
    display: flex;
    flex-direction: column;
    font-size: 0.8rem;
}
.resident_label{
    padding-left: 1em;
    color: #999;
     
}